@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,200&display=swap');

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(243, 238, 247, 0.9);
    scrollbar-color: rgb(56, 56, 58);
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 22, 27);
}

main {
    flex: 1 1 auto;
}

.container {
    width: 700px;
    margin: 0 auto;
}
/* Scroll */

.items__list::-webkit-scrollbar {
    width: 7px;
}

.items__list::-webkit-scrollbar-track {
    background-color: rgba(155, 151, 151, 0.507);
}
  
.items__list::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.918);
}

/* Header */

.header {
    position: relative;
    background: url(../img/background/purple_bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 100px;
}

.header__content h1 {
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 15px;
}

.changer {
    min-width: 35px;
    max-height: 35px;
    cursor: pointer;
}

/* Main */
.main {
    margin-top: -180px;
    z-index: 50;
}
.add-item {
    background-color:rgb(56, 56, 58);
    padding: 10px;
    border-radius: 2px;
}

.add-item label {
    display: flex;
    align-items: center;
}

.add-item button > img{
    height: 23px;
    width: 23px;
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-item__input {
    margin-left: 10px;
    background: inherit;
    flex: 1 1 auto;
    padding-left: 10px;
    color: rgba(243, 238, 247, 0.9);
}

.items {
    background-color:rgb(56, 56, 58);
    border-radius: 2px;
    height: 100%;
    margin-top: 25px;
}

.items__content {
    display: flex;
    flex-direction: column;
    min-height: 350px;
    max-height: 350px;
    overflow: hidden;
}

.items__list {
    flex: 1 1 auto;
}

.item {
    display: flex;
    z-index: 1;
    padding: 10px;
    border-bottom: 1px solid rgb(80, 78, 85);
}

.item label {
    flex: 1 1 auto;
    overflow: hidden;
}

.item img {
    cursor: pointer;
}

.items__footer {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: rgb(103, 101, 109);
    padding: 10px;
    border-top: 1px solid rgb(80, 78, 85);
}

.items__footer ul {
    display: flex;
    justify-self: center;
}

.items__footer ul > li:hover{
    color: rgb(77, 131, 248);
}

.items__footer ul > * + * {
    margin-left: 10px;
}

.items__footer h3 > a:hover{
    color: rgb(77, 131, 248);
}

.items__footer h3 > span {
    padding-right: 10px;
}

/* Checkbox section*/

.items__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 60%;
}

.checkbox__container {
    position: relative;
    cursor: pointer;
    user-select: none;
}

.checkbox__container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: rgb(56, 56, 58);
    border: 1px solid rgba(255, 255, 255, 0.507);
}

.checkbox__container:hover input ~ .checkmark {
    background-color: rgb(56, 56, 58);
}

.checkbox__container input:checked ~ .checkmark {
    background-color: rgb(56, 56, 58);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox__container input:checked ~ .checkmark:after {
    display: block;
}

.checkbox__container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid rgba(255, 255, 255, 0.733);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}  

.checkbox__container div {
    margin-left: 40px;
    font-weight: 300;
    font-size: 18px;
    color: rgb(224, 223, 223);
    letter-spacing: 0.5px
}

/* Footer */

.footer__quote {
    z-index: 51;
    text-align: center;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 30px;
    color: rgb(80, 78, 85);
}

